<!--La view create article-->
<section data-ng-controller="ArticleController">
	<h1>Nuevo Articulo</h1>
	<!--El formulario nuevo articulo -->
	<form data-ng-submit="create()" novalidate> 
	<div>
		<label for="titulo">Titulo</label>
		<div>
			<input type="text" data-ng-model="titulo" id="titulo" placeholder="titulo">
		</div>
	</div>
	<label for="contenido">Contenido</label>
		<div>
			<textarea type="text" data-ng-model="contenido" id="contenido" cols="30" rows="10" placeholder="contenido"></textarea>
		</div>
		<div>
			<input type="submit">
		</div>
		<!--El elemento mensaje error-->	
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>	
</section>